* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 9fr;
  background-color: #222;
  color: white;
  min-height: 100vh;
  font-family: monospace;
}

p {
  display:inline
}

.disabled {
  display: none;
}

.clickable {
  cursor: pointer;
}

main {
  height: 100vh;
  overflow: auto;
}

#sidebar {
  background-color: #111;
  color: white;
  position: sticky;
}

#sidebar a {
  color: white;
}

#sidebar ul li{
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}

#sidebar ul li:hover{
  background-color: rgba(255,255,255,0.25)
}

h2 {
  margin: 15px;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

table {
  margin: 5px;
  width: 99%;
  border-collapse: separate;
  border-spacing: 0;
  color: black;
}

th, td {
  border-collapse: collapse;
  border: solid #222;
  border-style: solid none;
  padding: 5px;
  vertical-align: top;
}

th {
  color: white;
}

tr[date]{
  background-color: #000000;
  color: white;
  padding: 2px;
}

/*
tr[priority='10']{
  background-color: #ff675c;
}

tr[priority='9']{
  background-color: #ff915e;
}
tr[priority='8']{
  background-color: #ffb15e;
}
tr[priority='7']{
  background-color: #ffcf5e;
}
tr[priority='6']{
  background-color: #ffec5e;
}
tr[priority='5']{
  background-color: #f3ff96;
}
tr[priority='4']{
  background-color: #e1ffa6;
}
tr[priority='3']{
  background-color: #d8ffbd;
}
tr[priority='2']{
  background-color: #daffd6;
}
tr[priority='1']{
  background-color: #e8ffe9;
}
tr[priority='0']{
  background-color: #ffffff;
}
*/
tr[priority]{
  background-color: #444;
  color: white;
  margin-bottom: 2px;
}
tr[priority]:hover{
  background-color: #666;
}
tr[priority='11']{
  background-color: #9e0909;
  color: #ffffff;
}
tr[priority='11']:hover{
  background-color: #ce0c0c;
}

tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

tr td p {
  cursor: pointer;
}

.description {
  font-family: monospace;
}

.categoryIndicator {
  display: inline-block;
  width: 7px;
  margin-right: 5px;
  height: 1em;
  background-color: var(--color);
  border-radius: 2px;
}

li .categoryIndicator {
  margin-right: 5px;
}

input {
  width: 100%;
  border: 0;
  color: #666;
}
textarea {
  width: 100%;
  max-width: 100%;
  height: 1.5em;
  border: 0;
  color: #666;
}

b {
  color: red;
  text-shadow: 0 0 3px black;
}
