.settings {
  padding: 0.5em;
}

.cron-row {
  display: flex;
  height: 2.2em;
}

.cron-row input {
  width: auto;
  height: 2.2em;
  width: 1.2em;
  margin: 0em 0.5em 0em 0.5em;
}

.cron-row p {
  line-height: 2.2em;
  margin-left: 0.5em;
}
