.blur-out {
  filter: blur(0.5em);
}
.disabled {
  display: none !important;
}

.flex-one {
  flex: 1;
}

.taskModal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 40em;
  margin-left: -15em;
  margin-top: -20em;
  background-color: #333;

  border-radius: 1em;
}

.taskModal .header {
  background-color: black;
  height: 3em;
  line-height: 2em;
  border-radius: 1em 1em 0 0;
  padding: 0.5em 1em;
  font-size: 1em;
}

.taskModal .main {
  height: 37em;
  display: flex;
  flex-direction: column;
}

.taskModal .header p.float-right {
  cursor: pointer;
  float: right;
  margin-left: 0.5em;
}

.taskModal .settings {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.taskModal .settings h1 {
  line-height: 1em;
  font-size: 2em;
  cursor: pointer;
  transition: ease .2s;
  padding: 0.2em;
  width: 100%;
  min-height: 1.4em;
}

.taskModal .settings h1:hover {
  font-weight: 800;
  background-color: #444;
}

.taskModal .settings input[type=text] {
  line-height: 1em;
  font-size: 2em;
  font-family: monospace;
  font-weight: 700;

  height: 1.4em;
  border: 0;
  border-bottom: 1px solid black;
  padding: 0.2em;
  background-color: #555;
  color: white;
  outline: none;
}

.taskModal .settings input[type=text],textarea::placeholder {
  color: white;
  opacity: 0.8;
}


.taskModal .settings p {
  width: 28em;
  height: 20em;
}

.taskModal p.description {
  display: inline-block;
  margin-top: 0.5em;
  width: 28em;
  padding: 0.4em;
  color: white;
  overflow-y: auto;
  cursor: pointer;
  transition: ease .2s;
}

.taskModal p.description:hover {
  font-weight: 700;
  background-color: #444;
}

.taskModal textarea {
  margin-top: 0.5em;
  padding: 0.4em;
  background-color: #555;
  color: white;
  outline: none;
  resize: none;
}

.taskModal .deadline {
  padding: 1em;
}

.taskModal .deadline label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5em;
  margin-bottom: 0.2em;
  width: 100%;
}

.taskModal .deadline input {
  margin-left: 0.5em;
}

.taskModal .deadline select {
  width: 100%;
  margin-left: 0.5em;
}

.taskModal .settings {
  padding: 1em;
}

.taskModal .settings label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1.5em;
  margin-bottom: 0.2em;
  width: 100%;
}

.taskModal .settings select {
  margin-left: 0.5em;
  width: 100%;
}

.taskModal .timer {
  padding: 1em;
  text-align: center;
  vertical-align: bottom;
}

.taskModal .save {
  padding: 1em;
  text-align: center;
  vertical-align: bottom;
}

.taskModal hr {
  vertical-align: bottom;
}

.taskModal button {
  display: inline-block;
  width: 98%;
  height: 2em;
  color: white;
  border: 0;
  font-weight: bolder;
  background-color: RED;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.taskModal button[name=startStop] {
  margin-left: 0.25em;
}

.taskModal button[name=endTask] {
  background-color: GREEN;
}

.taskModal button[name=save] {
  background-color: GREEN;
}

.taskModal button[name=save-and-start] {
  background-color: GREY;
}

.taskModal button[name=resetTimer] {
  background-color: GREY;
  width: 3em;
  transform: scale(-1, 1);
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.taskModal .buttonGroup {
  /* width: 98%; */
  display: flex;
  align-items: center;
  margin: 0;
}

.taskModal .timer .time {
  display: inline-block;
  width: 98%;
  height: 2em;
  line-height: 2em;
  background-color: #555;
  margin-bottom: 0.25em;
  font-size: 2em;
  color: white;
}

.smallInput {
  margin-top: 0.25em;
  font-size: 1.4em !important;
}

/* Extra small screen / smartphone / 280px to 479px */
@media only screen and (max-width: 980px) {
  .taskModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  .mobilBigInput {
    font-size: 1.5em;
    line-height: 1em;
  }
}

.taskModal .bigInput {
  font-size: 1.5em;
  line-height: 1em;
}

.margin-left {
  margin-left: 0.5em;
}

.padding {
  padding: 1em;
}
