div.habit-tracker {
    padding: 1em;
}

div.habit-tracker h2 {
    margin: 0;
}

div.habit-tracker h3 {
    margin-top: 1.7em;
    margin-bottom: 0.3em;
}

table.habits thead {
    font-weight: 900;
    background-color: rgba(255,255,255,0.2);
}

table.habits tr:hover {
    background-color: rgba(255,255,255,0.2);
}

table.habits tr td:first-child {
    width: 10em;
}

table.habits td {
    box-shadow: inset 0 0 10px black;
    border: 1px solid white;
    width: 1em;
    height: 2em;
}

table.habits td input {
    width: calc(100% - 2em);

    line-height: 1em;
    font-size: 1em;
    font-family: monospace;
    font-weight: 600;
  
    /* height: 1.4em; */
    border: 0;
    border-bottom: 1px solid black;
    padding: 0.2em;
    background-color: #555;
    color: white;
    outline: none;
  
}

table.habits :not(thead) tr td {
    box-shadow: inset 0 0 10px black;
}

table.habits input[type=checkbox] {
    cursor: pointer;
}

table.habits {
    margin-bottom: 2em;
}

table.habits td.checked {
    /* box-shadow: inset 0 0 10px white; */
    background-color: #349127;
}

div.habits_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.habits_header * {
    display: inline-block;
}

div.habits_header a {
    margin: 0 2em;
}